.header {
  z-index: 10;
}

.heading {
  font-size: 1.3rem;
}

.logo {
  height: 50px;
}
.title {
  flex: 1 1 auto;
}

.sidebar {
  background: white;
}

.active {
  background: #f1f2f6;
  color: #495057;
  box-shadow: inset -1px 0 15px -10px rgba(0, 0, 0, 0.6);
  border: none;
}

.list-group-item {
  font-size: 14px;
}

@media (min-width: 576px) {
  .sidebar-container {
    height: 100% !important;
  }
}
