<div class="container-fluid h-100 p-0 d-flex flex-column">
  <nav class="navbar navbar-light bg-white shadow-sm header py-0">
    <a routerLink="/">
      <img src="assets/d3logo.svg" alt="logo" class="logo" />
    </a>
    <ul
      class="title d-flex my-0 pl-0 py-2 align-items-center justify-content-center"
    >
      <h3 class="text-muted mb-0">Data Visualisation with D3js</h3>
    </ul>
  </nav>
  <div class="container-fluid flex-grow-1">
    <div class="row h-100">
      <div class="col-2 sidebar px-0 shadow-lg">
        <div class="list-group list-group-flush" >
          <a
            routerLink="/worldmap"
            routerLinkActive="active"
            class="list-group-item list-group-item-action list-group-item-white"
            >COVID-19 Map</a
          >
          <a
            routerLink="/barchart"
            routerLinkActive="active"
            class="list-group-item list-group-item-action list-group-item-white"
            >Bar Chart</a
          >
        </div>
      </div>
      <div class="col-10 px-0 ">
        <div class="main h-100">
          <router-outlet class="h-100"></router-outlet>
        </div>
        
      </div>
    </div>
  </div>
</div>
